body{
    background-image: url("images/background.gif");
}
.main{
    border: 5px green solid;
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
      
}
.head{
    border: 5px red solid;
    text-align: right;
}
.head h2{
    border: 5px orange solid;
    
}
.post{
    border: 5px blue solid;
    background-color: #E8FBFB;
    padding: 10px;
    margin-top: 10px;
    overflow: hidden;
    
}
#date{
    border: 5px rgb(167, 4, 167) solid;
}
.post img{
    float: right;
}

